body {
  background-color: darksalmon;
}

.col-xs-4{
  border: 2px solid lightyellow;
  height: 200px;
  width: 200px;
  background-color: teal;
  padding: 5px;
}

.col-xs-4 p {
    font-size: 177px;
    text-align: center;
    margin-top: -26px;
    color: salmon;
    text-shadow: lightyellow 3px 3px;
    font-family: "Wingdings";
}

#currentPlayer {
  font-family: "Wingdings";
  font-size: 30px;
  color: lightyellow;
}

h1{
  text-align: center;
  width: 50%;
  font-family: monospace;
  font-size: 30pt;
  font-weight: bold;
}

.btn {
  float: right;
}

#winner{
  font-size: 30px;
  font-family: monospace;
  display: none;
  margin-top: 15px;
  text-align: center;
}

.well {
  width: 50%;
  background-color: lightseagreen;
  font-family: monospace;
}
